.titulo-princ {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.pedido-tabla table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    margin: 0 auto;
}

.pedido-tabla th, .pedido-tabla td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.pedido-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.pedido-cantidad {
    width: 70px;
    padding: 4px;
}

.btn-eliminar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-eliminar img {
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: .2s;
}

.btn-eliminar:hover img {
    transform: scale(1.15);
}

.pedido-total {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;   
}

.btn-hacer-pedido {
    margin-top: 10px;
    background: #b1fac1;
    color: rgb(51, 51, 51);
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-hacer-pedido:hover {
    background: #56a869;
    transform: scale(0.98);
    transition: 0.2s ease;
}